browser/StepFunctions.json
{
  "Comment": "A state machine that launches an AMI, stops it, detaches volume, and terminates.",
  "StartAt": "EC2 Prep",
  "States": {
    "EC2 Prep": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:968854541546:function:gov-cloud-import-ec2Run-1GJXENX8OBBGS",
      "Next": "Move Image",
      "InputPath": "$",
      "ResultPath": "$.ec2"
    },
    "Move Image": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:968854541546:function:gov-cloud-import-moveImage-12XRM1VKYY6ZO",
      "Next": "Wait Move",
      "InputPath": "$",
      "ResultPath": "$.imageNew"
    },
    "Wait Move": {
      "Type": "Wait",
      "SecondsPath": "$.waitMove",
      "Next": "Move Image Status"
    },
    "Move Image Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:968854541546:function:gov-cloud-import-moveStatus-F32L74F9S4DQ",
      "Next": "Move Complete?",
      "ResultPath": "$.status"
    },
    "Move Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "failed",
          "Next": "Move Failed"
        },
        {
          "Variable": "$.status",
          "StringEquals": "pending",
          "Next": "Wait Move"
        },
        {
          "Variable": "$.status",
          "StringEquals": "available",
          "Next": "Make Volume"
        }
      ],
      "Default": "Move Failed"
    },
    "Make Volume": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:968854541546:function:gov-cloud-import-makeVolume-IC091Q6M1TWK",
      "InputPath": "$",
      "ResultPath": "$.volumeId",
      "Next": "Make Volume Status"
    },
    "Wait Volume": {
      "Type": "Wait",
      "SecondsPath": "$.waitVol",
      "Next": "Make Volume Status"
    },
    "Make Volume Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:968854541546:function:gov-cloud-import-makeVolumeStatus-1DD9RYHK6ZZHN",
      "InputPath": "$",
      "ResultPath": "$.volume",
      "Next": "Volume Ready?"
    },
    "Volume Ready?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.volume.status",
          "StringEquals": "failed",
          "Next": "Volume Failed"
        },
        {
          "Variable": "$.volume.status",
          "StringEquals": "creating",
          "Next": "Wait Volume"
        },
        {
          "Variable": "$.volume.status",
          "StringEquals": "available",
          "Next": "Instance Status"
        }
      ],
      "Default": "Volume Failed"
    },
    "Wait Instance": {
      "Type": "Wait",
      "SecondsPath": "$.waitEc2",
      "Next": "Instance Status"
    },
    "Instance Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:968854541546:function:gov-cloud-import-ec2Run-1GJXENX8OBBGS",
      "InputPath": "$",
      "ResultPath": "$.status",
      "Next": "EC2 Ready?"
    },
    "EC2 Ready?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "stopped",
          "Next": "EC2 Failed"
        },
        {
          "Variable": "$.status",
          "StringEquals": "pending",
          "Next": "Wait Instance"
        },
        {
          "Variable": "$.status",
          "StringEquals": "running",
          "Next": "Clean Up"
        }
      ],
      "Default": "EC2 Failed"
    },
    "Clean Up": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:968854541546:function:gov-cloud-import-cleanUp-12BKNLGY1AI74",
      "InputPath": "$",
      "ResultPath": "$.cleanUp",
      "Next": "S3 Copy Status"
    },
    "Wait S3 Copy": {
      "Type": "Wait",
      "SecondsPath": "$.waitMove",
      "Next": "S3 Copy Status"
    },
    "S3 Copy Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:us-west-2:968854541546:activity:ec2s3Copy",
      "TimeoutSeconds": 7200,
      "HeartbeatSeconds": 300,
      "InputPath": "$",
      "ResultPath": "$.s3Status",
      "Next": "S3 Copy Finish?"
    },
    "S3 Copy Finish?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.s3Status",
          "StringEquals": "failed",
          "Next": "S3 Failed"
        },
        {
          "Variable": "$.s3Status",
          "StringEquals": "transfering",
          "Next": "Wait S3 Copy"
        },
        {
          "Variable": "$.s3Status",
          "BooleanEquals": true,
          "Next": "Import Image"
        }
      ],
      "Default": "S3 Failed"
    },
    "Import Image": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:968854541546:function:gov-cloud-import-importImage-1C7URIDTNSECA",
      "InputPath": "$",
      "ResultPath": "$.importTaskId",
      "Next": "Import Task ID?"
    },
    "Import Task ID?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.importTaskId",
          "StringEquals": "failed",
          "Next": "Import Image Failed"
        },
        {
          "Variable": "$.importTaskId",
          "StringGreaterThan": "import-ami-",
          "Next": "Wait Import Image"
        }
      ],
      "Default": "Import Image Failed"
    },
    "Wait Import Image": {
      "Type": "Wait",
      "SecondsPath": "$.waitMove",
      "Next": "Import Image Status"
    },
    "Import Image Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:968854541546:function:gov-cloud-import-importImageStatus-ASK67LVTBB0X",
      "InputPath": "$",
      "ResultPath": "$.importImageStatus",
      "Next": "Import Image Finish?"
    },
    "Import Image Finish?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.importImageStatus",
          "StringEquals": "failed",
          "Next": "Import Image Failed"
        },
        {
          "Variable": "$.importImageStatus",
          "StringEquals": "active",
          "Next": "Wait Import Image"
        },
        {
          "Variable": "$.importImageStatus",
          "StringEquals": "completed",
          "Next": "Remove S3 Image"
        }
      ],
      "Default": "Import Image Failed"
    },
    "Remove S3 Image": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:968854541546:function:gov-cloud-import-removeS3Image-1WA7OWNY924S2",
      "InputPath": "$",
      "Next": "SuccessState"
    },
    "SuccessState": {
      "Type": "Succeed"
    },
    "Move Failed": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "Move AMI returned FAILED"
    },
    "Volume Failed": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "Make Volume returned FAILED"
    },
    "EC2 Failed": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "Launch EC2 worker for copying volume to GovCloud returned FAILED"
    },
    "S3 Failed": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "Volume copy to S3 GovCloud failed"
    },
    "Import Image Failed": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "Import Import from GovCloud S3 to GovCloud EC2 failed"
    }
  }
}
